@use "../variables/color";

.btn { 
    margin-top: 1rem; 
    background-color: color.$purple;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: .5vh;
    border: none;
    width: 100%;
    max-width: 25rem;
    border-radius: 5px;

    &:hover {
        background-color: lighten(color.$purple, 10%);
    }

    &:active { background-color: darken(color.$purple, 10%);}
}