@media screen and (min-width: 840px) {
    svg { display: initial; }
    .projects {
        &__btns { 
            grid-template-columns: repeat(3, 1fr); 
            a {
                padding: 2rem;
            }
        }
    }
}
