html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Code Pro", sans-serif;
}

nav {
    position: fixed;
    inset: 0 0 auto 0;
    ul {
        padding-left: 0;
        width: 100%;
        display: flex;
        list-style-type: none;
        gap: 1rem;
        justify-content: center;
    }
    li.active { border-bottom: 1px solid white; }
    a { 
        text-decoration: none; 
        color: white 
    }
    color: white;
}

svg {
    display: none;
    position: fixed;
    right: 5rem;
    top: 50%;
}

section {
    padding: 5rem 2rem 2rem 2rem;
    height: 100vh;

    h1, h2 {
        font-size: 36px;
    }
}
.section-content { 
    max-width: 60rem; 
    margin: auto;
}

.about-me {
    background-color: #0d0000;
    color: #d0d0d0;
    text-align: center;

    & picture {
        margin: auto;
        margin-top: 2rem;
        max-width: 500px;
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .icons {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 2rem;
        
        img { height: 5rem; }
    }
}

.resume {
    background-color: #D63BD9;
    color: #FFD0FF;

    h3 { font-size: 24px; }
}
.resume__section { 
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
    ul {
        grid-column: span 2;
    }

    .timeFrame { text-align: end; }
}

.projects {
    background-color: #D97904;
    color: #FFFFA2;
    position: relative;

    figure {
        img {
            max-height: 50vh;
        }
    }

    svg { 
        height: 2.5rem; 
        position: absolute;
        display: block;

        &:hover { transform: scale(1.5); }
    }
    .left { left: 1rem; }
    .right { right: 1rem; }
}
.project.next {
    animation: next .75s;
}
.project.next.enter { animation: nextEnter .75s; } 
.project.back {
    animation: back .75s;

    &.enter { animation: backEnter .75s; }
}
@keyframes next {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@keyframes nextEnter {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes back {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}
@keyframes backEnter {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
.projects__used {
    display: flex;
    justify-content: space-between;
}

.contact-me {
    background-color: #F2A81D;
    color: #6F3A00;
    form * {
        display: block;
    }
    input, textarea, button {
        border: none;
        padding: .5rem;
        width: 100%;
        border-radius: 5px;
    }
    textarea { height: 15rem; }
    button { 
        margin-top: 1rem; 
        background-color: #D63BD9;
        color: white;
    }
}
