html {
    scroll-behavior: smooth;
}
body {
    font-family: "Source Code Pro", sans-serif;
    max-height: 100vh;
}

nav {
    z-index: 999;
    position: fixed;
    inset: 0 0 auto 0;
    ul {
        padding-left: 0;
        width: 100%;
        display: flex;
        list-style-type: none;
        gap: 1rem;
        justify-content: center;
    }
    li.active { border-bottom: 1px solid white; }
    a { 
        text-decoration: none; 
        color: white 
    }
    color: white;
}

.nav__svg {
    display: none;
    position: fixed;
    right: 5rem;
    top: 50%;
}

.page-sections {
    display: grid;
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
}

section {
    padding: 5rem 2rem 2rem 2rem;
    height: 100vh;
    scroll-snap-align: start;

    h1, h2 {
        font-size: 36px;
    }
}
.section-content { 
    max-width: 60rem; 
    margin: auto;
}

.about-me {
    background-color: #0d0000;
    color: #d0d0d0;
    text-align: center;

    & picture {
        margin: auto;
        margin-top: 2rem;
        max-width: 500px;
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .icons {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 2rem;
        
        img { height: 5rem; }
    }
}

.resume {
    background-color: #D63BD9;
    color: #FFD0FF;

    h3 { font-size: 24px; }
}
.resume__section { 
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
    ul {
        grid-column: span 2;
    }

    .timeFrame { text-align: end; }
}

.projects {
    background-color: #D97904;
    color: #FFFFA2;
    position: relative;

    .section-content {
        max-width: 80vw;
        height: 80%;
        overflow-y: hidden;
        padding-bottom: 5vw;
        display: grid;
        grid-auto-flow: column;
        gap: 5vw;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        overscroll-behavior: contain;

        .project {
            width: 60vw;
            scroll-snap-align: center;
            border: 2px solid white;
            border-radius: 10px;
        }
    }

    h3 { text-align: center; }
    figure {
        img {
            margin: auto;
            max-height: 50vh;
        }
    }

    &__btns {
        max-width: 30rem;
        margin: 1rem auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);

        a {
            background-color: #FFFFA2;
            color: black;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
    }

    .change-project {
        position: absolute;
        top: 50%;
        display: block;
        
        background: none;
        border: none;

        & svg {
            height: 2.5rem;  
        }
        &:hover svg { transform: scale(1.5); }
    }
    .left { left: 1rem; }
    .right { right: 1rem; }
}
.project.next { animation: next 1.5s; }
.project.back { animation: back 1.5s; }
@keyframes next {
    0% { transform: translateX(0); }
    49% { transform: translateX(-100%); }
    50% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes back {
    0% { transform: translateX(0); }
    49% { transform: translateX(110%); }
    50% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

.projects__used {
    display: flex;
    justify-content: space-between;
}

.projectPage {
    z-index: 9999;
    position: absolute;
    inset: 2vh 2vw;
    padding: 2rem;
    border: 2px solid black;
    background-color: white;
    animation: show 1s;
    overflow: hidden;

    color: #D97904;

    button { 
        position: absolute;
        background: none; 
        border: none; 
        right: 1rem;
        top: 1rem;
    }
    svg {
        height: 1rem;
    }

    &__lists {
        &__div { display: grid; grid-template-columns: 1fr 1fr; align-items: center;}
    }
}
@keyframes show {
    0% { inset: 50%; }
    100% { inset: 2vh 2vw; }
}

.contact-me {
    background-color: #F2A81D;
    color: #6F3A00;
    form * {
        display: block;
    }
    input, textarea, button {
        border: none;
        padding: .5rem;
        width: 100%;
        border-radius: 5px;
    }
    textarea { height: 15rem; }
    button { 
        margin-top: 1rem; 
        background-color: #D63BD9;
        color: white;
    }
}
